/*@font-face {
    font-family: Montlight;
    src: url("../fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}
@font-face {
    font-family: Montbold;
    src: url("../fonts/Mont-HeavyDEMO.otf") format("opentype");
}*/
body{
 font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #061b39;
  margin: 0 0 20px;
}
.takeactions{
  position: relative;
  overflow: hidden;
  min-height: 100%;
  height: 100vh;
  transition:all ease 0.05s;
}
.takeactions h2,.takeactions h2 a{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #061b39;
  margin: 0 0 20px;
}
.takeactions h2 a:hover{
  text-decoration: none;
  opacity: 0.85;
}
.takeactions p {

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #444a4f;
}
.promotions-left img {
    margin-top: -80px;
}
.col-inline {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    padding-left: 20px;
  padding-right: 20px;
  padding-top:50px;
}
.col-inline.bg-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right; ;
}
.takeactions:last-of-type .col-inline:first-child{
    background-image: linear-gradient(to top, #f8fafd, #ffffff);
}
.col-inline .learn-more{ margin-bottom: 200px;}
.learn-more {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0dbdca;
  font-weight: 400;

  display: inline-block;
}
.learn-more:hover{
  color: #0dbdca;
  opacity: 0.85;
  text-decoration: underline;
}
body .navbar-default {

    background-color: transparent;
    border-color: transparent;

}
.navbar-default .navbar-nav > li > a{
   color: #7a858e;
   position: relative;
}
.navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_item > a:hover, .navbar-default .navbar-nav > .current_page_item > a:focus {

     color: #061b39;
    background-color: transparent;
    font-weight: bold;

}
.navbar-default .navbar-nav > li.current_page_item > a::after {
    position: absolute;
    content: '';
    left: 35%;
    bottom: 0;
    height: 3px;
    background: #0dbdca;
    width: 15px;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: #061b39;
    background-color: transparent;
    outline: none;

}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

    color: #0dbdca;
    background-color: transparent;

}

.navbar-default .navbar-brand {

  color: #0dbdca;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;

}
.navbar-header {
    margin-right: 7%;
}
.header-custom {

    min-height: 700px;
    background: url('../images/triangle-down.svg');
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    background-size:50%;
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 20px;

}

.hed-left .gamiboth {
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.8px;
  color: #0dbdca;
}
.gamiboth span {

    display: inline-block;
    vertical-align: top;
    margin-left: -6px;

}
.TM {

  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #0dbdca;
}
.by-Gamiphy {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #252729;
  text-transform: uppercase;
}
.hed-left{
    margin-top: 78px;
}

h2{
  font-size: 32px;
}
.hed-left h2{
  color: #061b39;
  margin: 60px 0 40px;
}
p{
  color: #7a858e;
  font-size: 17px !important;
}
body a.btn,body .btn  {

    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px;
    transition:all ease 0.25s ;
    white-space: inherit;
    max-width: 100%;

}
body a.btn:hover {
  color: #ffffff;
  opacity: 0.85;
}
.button-1 {
  min-width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: #061b39;
}
.button-2 {
  min-width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: #0091ff;
}
.btn-wrap {
  margin-top: 40px;
}
.btn-wrap .btn:first-of-type{
  margin-right: 20px;
}


.Oval {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #0dbdca4d;
  float: left;
  padding: 17px;
   margin-right: 30px;
}
.Rectangle {

    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #0dbdca;
    display: block;
    padding: 10px 17px;
    text-align: center;
    color: #fff;
    font-size: 20px;


}
.promotions-right {
    margin-top: 30px;
}
.promotions {
  border-radius: 12px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: 0 3px 400px 0 rgba(48, 49, 64, 0.12);
  background-color: #ffffff;
  padding: 15px 30px;
  margin-bottom: 70px;
}
.col-md-12.promotions img {
    float: left;
    margin-top: -60px;
    margin-right: 40px;

}
.your-brand-to{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #0dbdca;
  margin-top: 10px;
}
.Play-Video {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252729;
}
.leading{
  padding: 80px 0 60px;
  text-align: center;

}
.leading ul {
    margin-top: 30px;
}
.leading h3{

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #061b39;
}
.leading p{

  font-size: 14px;
  line-height: 1.71;
  text-align: center;
    color: #061b39;

}
.leading p:last-of-type{
  margin-top: 20px;
}
.leading .list-inline > li {
    padding: 35px;
}
.hellogamibot h2 {

  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.8px;
  color: #0dbdca;
  margin-bottom: 70px;
  margin-top: 0;
}
.hellogamibot .Hello {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #061b39;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.gamiin {

    padding: 40px;
        padding-right: 40px;
    padding-right: 150px;
    margin-bottom: 60px;
    position: relative;
     border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(81, 81, 106, 0.07);
  border: solid 0.8px #e6e6ed;
    transition: opacity .15s ease-in-out;
    /*overflow: hidden;*/

}
.gamiin h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #061b39;
  margin-top: 0;
  font-family: 'Montlight', sans-serif;

}

.gamiin h3 span,.gamiin h3 strong {
  font-weight: 900;
  font-family: 'Montbold', sans-serif;
}
.clr-1,.clr-1 h3{
  color: #0091ff;
}
.clr-2,.clr-2 h3{
  color: #5fcde3;
}
.clr-3,.clr-3 h3{
  color: #f96682;
}
.clr-4,.clr-4 h3{
  color: #fbaa8d;
}
.Unlock {

    width: 100%;
    height: 36px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #061b39;
    background: url(../images/ic_unlock_copy_3.png);
    background-size: 32px;
    padding-left: 30px;
    padding-top: 12px;
    color: #0091ff;
   background-position: left top;
  background-repeat: no-repeat;

}
.lock {

    width: 100%;
    height: 36px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #061b39;
    background: url(../images/ic_unlock_copy_2.png);
    background-size: 32px;
    padding-left: 30px;
    padding-top: 12px;
    color: #fff;
   background-position: left top;
  background-repeat: no-repeat;
position: absolute;
    left: 40px;
    bottom: 40px;

}

.Mask {

    background-color: transparent;
    transition: all ease 0.2s;
    background-repeat: no-repeat;
    background-size: auto 250px;
    height: 260px;
    width: 100%;
    position: absolute;
    top: -60px;
    right: -70px;
    background-position: right top;
    opacity: 1;

}
.gamiin:hover{
  box-shadow: 0 13px 400px 0 rgba(48, 49, 64, 0.2);
  background-color: #ffffff;
  /*overflow: visible;*/
}
.gamiover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px;
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1);
    transition:transform 0.25s ease-in-out;
    background: linear-gradient(to bottom, #04befe, #4481eb);

}
.gamiover h3 {

    color: #fff;
    width: 260px;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    padding-top: 30px;

}
/*.gamiin-cover:hover .gamiover{
    transform: scale(0);
    transition:transform 0.25s ease-in-out;
}*/
.gamiin-cover:hover .Mask{
  opacity: 1;
}
.gamiover.one {
    background: linear-gradient(to bottom, #04befe, #4481eb);
}
.gamiover.two {
    background: linear-gradient(to bottom, #53e0d5, #4dc1e5);
}
.gamiover.three {
    background: linear-gradient(to bottom, #f5317f, #ff7c6e);
}
.gamiover.four {
    background: linear-gradient(to bottom, #fde8bd, #fc9a7a);
}
.overdp {

    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1;
    width: 200px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;

}

.gamiin p {

    margin-bottom: 65px;
    height: 150px;
    overflow: hidden;

}
.Do-you-have{
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
  margin-top: 100px;
}

.journey {

    padding: 100px 0;
    border-top: 1px solid #e7eef4;

}
.journey:last-of-type {
  display: block;

    text-align: center;

}
.hellogamibot {
    padding-bottom: 250px;
    padding-top: 70px;

}
.journey h2{
  font-size: 24px;
}
.journey h3{
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #061b39;
}
.h5 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #061b39;
  text-transform: uppercase;
  margin: 0 0 20px;
}
footer ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #061b39;
}
footer ul li a:hover{
  color: #0dbdca;
  text-decoration: none;


}
footer ul {

    list-style-type: none;
    padding: 0;

}
.footer-custom {
    border-top: 1px solid #e7eef4;
    padding: 50px 0;
    background: transparent;
    position: relative;

}
.social ul li{
  display: inline-block;
}
.icon{
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    width: 40px;
    height: 40px;
    display:block;
}
.icon.fb{
   background-image: url(../images/ic-facebook.svg);
}
.icon.tw{
   background-image: url(../images/ic-twitter.svg);
}
.icon.in{
   background-image: url(../images/ic-linkedin.svg);
}
.icon.you{
   background-image: url(../images/ic-youtube.svg);
}
.subs input {
  width: 267px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  border:none;
  color: #0dbdca;
  font-size: 12px;
  padding: 10px;
  font-weight: 400;
  background-image: url(../images/arrow-right-copy.png);
  background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 90% center;
    box-shadow: 0px 3px 6px 0 rgba(81, 81, 106, 0.09);
}
footer .subs .mailpoet_form .mailpoet_text {

    width: 100% !important;

}
footer .subs .mailpoet_form .mailpoet_submit{
  display: none;
}

.subs
 .h5{
  color: #fff;
 }
.copyrigh {
    text-align: right;
    margin-top: 50px;
    color: #fff;
    font-weight: 400;

}
.social {
    margin-top: 40px;
}
.rectangle-right{
  background-image: url(../images/triangle-right-angled.svg);
  background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
    width: 650px;
    height:1150px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    z-index: -1;
}
.userbtn {
  width: 158px;
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
  border-radius: 8px;
  padding: 9px;
  box-shadow: 0px 3px 6px 0 rgba(81, 81, 106, 0.09);
  background-color:#0091ff;
}
.userbtn:hover {
  color: #fff;
  background-color:  #0091ff;
  text-decoration: none;
  }
.userpic {

    margin-left: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
  border-radius: 100%;

}
.userpic img {

    width: 30px;
    height: 30px;

}
.user {

    float: right;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 9;
}
.header-custom-inner .user{
  right: 0;
}
a:hover{
  text-decoration: none;
}
body{
  overflow-x:hidden;
}

body .navbar-default .navbar-toggle {

  border-color: #fff;
  background-color: #fff;
  margin: 0;

}
body .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
body .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

    background-color: #fff;
}
body .navbar-default .navbar-collapse, .navbar-default .navbar-form {

    border-color: #fff;

}
body .header-custom-inner {

    padding-top: 20px;

}

/*======================================== pricing page styles ================================================*/

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
 html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #061b39;
  width: 36px;
  height: 36px;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 5px 14px 0 rgba(0, 0, 0, 0.15);
  background-color: #061b39;
  font-weight: normal;
  color: #454545;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  top: -15px;

}
.plan-range {

    height: 66px;
    margin: 30px 0;
    width: 100%;
    padding-top: 0px;

}
.plan-range .ui-slider-horizontal {

    height: 0.5em;
    width: 100%;
    float: left;
    margin-top: 30px;

}
.plan-range .ui-slider-handle.ui-corner-all.ui-state-default:first-of-type{
  display: none;
}
.plan-range .ui-widget-header {

    border: 1px solid #e7e9ec;
    background:#e7e9ec;
    color: #e7e9ec;
    font-weight: bold;

}
.ui-widget.ui-widget-content {

    border: 1px solid #e7e9ec;

}
#amount {

    border: none;
    width: 80px;
    text-align: center;
    font-weight: bold;
    cursor: none;

}
.right-amount {
    float: left;
    font-weight: normal;
    text-align: center;
    font-size: 11px;
}
.left-amount {
  font-weight: normal;
    float: right;
    font-size: 11px;
}
.left-amount span,.right-amount span{
  font-weight: bold;
}
.sub-header p{
  font-size: 16px;
  text-align: center;
  color: #061b39;
  line-height: 1.75;
  font-weight: 400;

}
.sub-header h2{
  font-weight: bold;
}
.sub-header {
    padding: 100px 180px;
    text-align: center;
}
.pricing.sub-header {
    padding: 100px 180px;
    background: url(../images/pricing-art.svg);
    background-repeat: no-repeat;
    background-size: 370px;
    background-position: left top;
}

.plans-gami-inner h3{
  color: #061b39;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;

}
.plans-gami-inner p{
  color: #616770;
  line-height: 1.33;
  font-size: 15px;
}
.plans-gami-inner .user-ra{
  color: #061b39;
  font-weight: 400;
}

.plans-gami-inner h4.free {

    color: #061b39;
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    height: 32px;
    overflow: hidden;

}
.free span {

    display: inline-block;
    vertical-align: middle;

}
#dollar {

    border: navajowhite;
    min-width: 28px;
    max-width: 50px;

}
.plans-gami-inner .plansbtn {
  width: 100%;
  height: 56px;
  padding: 18px;
  border-radius: 8px;
 background-color:  #0091ff;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
    font-size: 18px;

}
.plans-gami-inner .plansbtn:hover{

   background-color: #061b39;
  color: #fff;
}
.plans-gami-inner  {
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #cdd0d6;
  padding: 20px 20px 40px;
  text-align: center;
  margin: 10px;
}
.plans-gami-inner:hover  {
  box-shadow: 0 13px 40px 0 rgba(48, 49, 64, 0.8);

}
.plans-gami-inner.premium:hover,
.plans-gami-inner.premium:hover input {

    background: #0091ff;
    color: #fff;
    border-color: #0091ff;

}
.plans-gami-inner.premium:hover ul li,
.plans-gami-inner.premium:hover span,
.plans-gami-inner.premium:hover h4.free,
.plans-gami-inner.premium:hover p,
.plans-gami-inner.premium:hover h3,
.plans-gami-inner.premium:hover ::before,
.plans-gami-inner.premium:hover .free span

 {
color: #fff;
}
.plans-gami-inner.premium:hover .plansbtn{
  background: #fff;
  color: #0091ff;
}
.plans-gami-inner ul {
    margin: 50px 0 0;
    color: #061b39;
    padding: 0;
    margin-left: 20px;
}
.plans-gami-inner ul li{
  color: #061b39;
  list-style-type: none;
  text-align: left;
  position: relative;
  padding:0 0 0 20px;
  font-weight: 500;
}
.plans-gami-inner ul li::before{
  position: absolute;
  left: 0;
  top:6px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #00bdcc;

}
.toltip {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-image: url(../images/ic-info.svg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    color: #fff;
opacity: 1;
transition:all ease 0.25s;

font-size: 0;

display: inline-block;

vertical-align: middle;

}
.toltip:hover{
  background-image: url(../images/ic-info-hover.svg);
}


.tooltip-inner{
  background-color: #061b39 !important;
  color: #fff;
  opacity: 1;
  text-align: left;
  padding: 10px;
  font-size: 13px;

}
.tooltip.in{
  opacity: 1;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #061b39 !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #061b39 !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #061b39 !important;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #061b39 !important;
}
p.descrip-plan {
    height: 56px;
    overflow: hidden;
}
.faqhere {
    color: #061b39;
    padding: 100px 15px 60px;
}
.faqhere h5 a{
  color: #061b39;
  font-size: 16px;
  font-weight: 600;
}
.faqhere p{
  font-weight: 400;
  color: #061b39;
}

.faqhere h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  color: #061b39;
  margin-bottom: 60px;
}
.faqhere h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #061b39;
  margin-top: 50px;
}
article.faq{
    float: none;
    margin: 10px auto;
    clear: both;
    border-bottom: 1px solid #e7eef4;
    padding: 10px 0;
}
.faq-link{
  color: #061b39;
  font-weight: 600;
}
.faq-link a{
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #0dbdca;
  text-decoration: underline;
}

/*======================================== about style ================================================*/
.hed-right {

    float: right;

}

.page-template-about-us  .hed-right img {
    width: 100%;
    margin-top: 50px;
}
.page-template-about-us .sub-header{
  background: none;
}
section.gam-team {
    text-align: center;
}
section.gam-team .gam-team-inner h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
  margin: 20px 0 0;

}
section.gam-team .gam-team-inner p {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
}
.img-team{
  position: relative;
  overflow: hidden;
}
img.left-leaf,img.right-leaf {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 150px;
}
img.right-leaf{
  left: auto;
  right: 0;
  bottom: -30px;
}
.mx-auto{
  float: none;
  margin: 0 auto ;
}
section.contact-gamiphy {
    padding: 100px 0;
    text-align: center;
}
section.contact-gamiphy h2{
  font-size: 28px;
}
.cta-form {
  width: 100%;
  padding: 100px 80px;
  text-align: left;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: 0 3px 400px 0 rgba(48, 49, 64, 0.12);
  background-color: #ffffff;
  margin-top: 50px;
}
.gamiphy-calendar {
    padding: 20px;
}
.cta-form  .label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #101969;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  text-align: left;
}
.cta-form input,.cta-form select,.cta-form textarea {
  height: 44px;
  border-radius: 6px;
  color: #9497b4;
  font-size: 16px;
  border:1px solid #9497b4;
  background-color: #ffffff;
  padding: 20px;
  vertical-align: middle;
}
.cta-form input:focus{
  outline: none;
}
.cta-form textarea {
  height: 170px;
  resize:none;
  width: 100%;

}
.cta-form input[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background: #0dbdca;
    border: none;
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}
.cta-form select{
    background: url(../images/drop-down-copy.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position:96% center;
     -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px 20px;


}
.sub-header.gam {

    padding: 0;

}
.fading{
  visibility: hidden;
}
.over {
  width: 100%;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: none;
  padding: 10px;
  background: transparent;
}
.gam-team-inner:hover .fading{
  visibility: visible;
}
.gam-team-inner:hover .over{
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: 0 3px 400px 0 rgba(48, 49, 64, 0.12);
  background: transparent;
}
.useremoji {

    position: absolute;
    top: 22%;
    left: 34%;
    right: auto;
    bottom: auto;

}
.speak {

    position: absolute;
    right: 15px;
    top: 30%;
    font-family:'Caveat', sans-serif;
    transform: rotate(-10deg);
    font-family: Caveat;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #061b39;

}
.image-team {

    height: 331px;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;

}
.image-team2 {

    height: 330px;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 300px;
    box-shadow: 0 3px 20px 0 rgba(48, 49, 64, 0.25);
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition:transform 0.25s ease-in-out;
    transform: scale(0);
    cursor: pointer;

}
.teamin:hover .image-team2{
  transform: scale(1);;
  transition:transform 0.25s ease-in-out;
}
.teamin {
    margin: 40px 0;
    position: relative;
    overflow: hidden;

}
.teamin h3{
  color: #061b39;
  font-size: 26px;
  font-weight: 500;
  margin-left: 20px;
}
.teamin p{
  font-size: 17px;
  font-weight: 300;
  color: #4d4d4d;
  margin-left: 20px;
}
.talkabout {

    padding: 80px 0;

}
.brief-intro{
   padding: 80px 0;
   position: relative;
}
.people-images {

    padding-top: 200px;

}
.mankite {

    position: absolute;
    right: 0;
    top: 0;
    height: 700px;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 70%;
    z-index: -1;

}
.banner-about {

    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 150px 0;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    margin-top: 40px;

}
.banner-about h1{
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}
#engageslide .carousel-indicators li {


    background-color: #0dbdca;
    background-color: #0dbdca;
    border: 1px solid #0dbdca;
    opacity: 0.5;
    width: 14px;
    height: 14px;
    margin: 0 5px;

}
#engageslide .carousel-indicators .active {
    background-color: #0dbdca;
    opacity: 1;
    width: 15px;
    height: 15px;
}
#engageslide{
  min-height: 560px;
  max-width: 350px;
  position: relative;
}
#engageslide .carousel-indicators {

    text-align: left;

}
.man-image {
    position: absolute;
    right: -50%;
    top: 25%;
    width: 70%;

}

/*======================================== gamibot ================================================*/
.gamibot{

    background: url(../images/organic-bg-1.svg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 580px;
    min-height: 620px;
    margin-bottom: 50px;
    margin-top: 50px;

}
.gami-repeat{
   background: url(../images/organic-bg-2.svg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: left top;
    background-repeat: no-repeat;
   background-size: 600px;
    min-height: 620px;
    margin-bottom: 60px;
}
.gami-repeat.rightbg{background-position: right top;}
.gamibot .hed-left h2 {
    margin-top: 20px;
}
.gamibot .hed-right img{
  max-width: 100%;
}
.right-content,.gamibot .hed-right{
  float: right;
}
.right-content,.left-content {
  margin-top: 100px;
}
.left-content h2,.right-content h2{
  margin-top: 20px;
}
.left-gimg ,.right-gimg{
    padding-top: 100px;
}
.left-gimg img, .right-gimg img {

    max-width: 100%;

}
.right-content p{
  color: #444a4f;
  font-size: 14px;
}
.icon-tit {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #27272a;
  margin-bottom: 0;
}
.icon-sub {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #7c8da9;
}
.iconimg {

    float: left;
    width: 63px;
    margin-right: 10px;
    height: 110px;
}
.iconimg img{
  max-width: 100%;
}
.icon-mini {
    margin-top: 30px;
}
.gami-feed{
  background: url(../images/organic-bg-dark.png);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1325px;
}

.gami-feed .feed-content h2{
   color: #0dbdca;
}
.gami-feed .feed-content p{
   color: #fff;
}
.feed-content {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;

}
.feed-image  {
    text-align: center;
}
.feed-image img {
    max-width: 100%;
}
.feed-image p{
  color: #fff;
  margin-bottom: 30px;
}
.icon-mini ul li img {

    width: 90px;

}
.full-control{
  padding: 100px 0;
   background: url(../images/path-copy.svg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50%;
}
.full-control h2{
  margin-bottom: 50px;
}
.interesting {
  font-weight: normal;
  color: #061b39;
  margin-bottom: 30px;
}

.interesting-text {
  text-align: center;
  padding: 100px 0 0;
}
.control-tab .nav-tabs {

    border-bottom: none;

}
.control-tab .nav-tabs > li {
    width: 100%;
    border: none;
    padding: 0px;
    border-radius: 12px;
}
.control-tab .nav-tabs> li > a {

    margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 12px;
    display: block;
    padding: 20px;
    color: #061b39;
    font-weight: 600;
    padding-left: 60px;
  position: relative;
  margin-bottom: 20px;

}
.icontab {

    position: absolute;
    left: 0;
    top: 10px;
    right: auto;
    left: 10px;

}
.control-tab  .nav-tabs > li.active > a,
.control-tab  .nav-tabs > li.active > a:hover,
.control-tab  .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
   background-color: #f3f3f6;
    border: none;
    color: #061b39;
    display: block;
    border-radius: 12px;

}
.tab-desc{
  font-size: 12px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #061b39;
}
.control-content{
  padding-top: 60px;
}
/*======================================== blog  ================================================*/
.blog-side{
   box-shadow: 0 2px 3px 0 rgba(81, 81, 106, 0.07);
  background-color: #ffffff;
  border:1px solid #e6e6ed;
  border-radius: 18px;
  padding:30px 20px 40px;
  height: 493px;
}
.blog-side h3 {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #061b39;
  margin: 0;
}
.blog-side ul {

    padding: 0;
    margin-top: 30px;

}
.blog-side li {

    list-style-type: none;

}
.blog-side li a{
  border-bottom: 1px solid #ececed;
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #061b39;
  padding: 10px 0;
  margin-bottom: 10px;
}
.blog-side li a:hover{
color: #0dbdca;
}
.blog-side li a span {

    float: right;
    font-weight: bold;

}
.art-title {

  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #061b39;
  height: 84px;
  overflow: hidden;
  margin-bottom: 20px;

}
.post-art{
  box-shadow: 0 2px 3px 0 rgba(81, 81, 106, 0.07);
  background-color: #ffffff;
  border:1px solid #e6e6ed;
  border-radius: 18px;
  float: left;
  width: 100%;
  height: 493px;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 50px;
}
.post-art:hover{
  box-shadow: 0 13px 400px 0 rgba(48, 49, 64, 0.2);
}
.post-art p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #061b39;
  height: 85px;
  overflow: hidden;
}
.image-post{
  position: relative;
  text-align: center;
  height: 192px;
  border-radius: 18px;
  overflow: hidden;
}
.gradient{
  position: absolute;
  left: 0;top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #4297cb, #30b5ce);
}
.gradient.gamification{
   background: linear-gradient(to bottom, #1270e3, #59c2ff);
}
.gradient.sales{
    background: linear-gradient(to top, #8f77df, #454eae);
}
.gradient.branding{
    background: linear-gradient(to top, #fa71cd, #c471f5);
}
.gradient.loyalty-program{
    background: linear-gradient(to bottom, #f5317f, #ff7c6e);
}
.Uncategorized {

    display: none;

}

.feature-banner {
  height: 376px;
  border-radius: 16px;
  background: linear-gradient(to bottom, #1270e3, #59c2ff);
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
  margin-top: 30px;
}
.single .post-thumbnail {

    float: right;

}
#main {
    margin-top: 50px;
}
.usertit {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #7c8da9;
  float: left;
  text-transform: capitalize;
}
.art-content {
    padding: 20px;
    height: 235px;
    overflow: hidden;
}
.meta-blog {

    padding: 20px;
    float: left;
    width: 100%;

}
.comment-count {

    float: right;

}
.promotions.pro-blog {
    margin-top: 100px;
    margin-bottom: 100px;
}
.SUBCRIBE-TO-OUR-NEWL {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #061b39;
}
.promotions-right .mailpoet_paragraph {
    float: left;

}
.subscribe-form input[type="text"],.subscribe-form input[type="email"] {
  width: 364px !important;
  max-width: 100% !important;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #9497b4;
  background-color: #ffffff;
  border:1px solid #9497b4;
  padding: 10px;
  margin-right: 10px;
}
.subscribe-form input[type="submit"],input#submit[type="submit"] {
    width: 170px;
    height: 40px;
    border-radius: 8px;
    background-color: #0091ff;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    border: 1px solid #0091ff;
    text-transform: uppercase;
}


.post-looping {

    padding: 50px 0 100px;

}
.blog-head {
    text-align: center;
    padding: 50px 0 0;
    background: url(../images/city-combined.png);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 65%;

}
.single-side {
  border-radius: 12px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: 0 3px 400px 0 rgba(48, 49, 64, 0.12);
  background-color: #ffffff;
  padding: 20px;
}
.single-side h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #061b39;
}
.single-side form label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #101969;
}
.single-side input[type="text"],.single-side input[type="email"] {
  width:100% !important;
  height: 44px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #9497b4;
  border:1px solid  #9497b4;
  padding: 10px;
  margin: 10px 0;
}

.single-side input[type="submit"] {
  width: 100% !important;
  height: 40px;
  border-radius: 8px;
  background-color: #0091ff;
  color: #fff;
  border:none;
}
.single-side img {
    margin-top: -50px;
}
.Related-Articles{
  padding:50px 0 100px;
}
.Related-Articles h3.relatedtitle{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
  margin-bottom: 50px;
}

.single-content p,.single-content p a {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
   font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #061b39;

}
.single-content p a{
  color: #0091ff;
  text-decoration: underline;
}
.search-submit {

    width: 158px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    border-radius: 8px;
    padding: 9px;
    box-shadow: 0px 3px 6px 0 rgba(81, 81, 106, 0.09);
    background-color: #0091ff;
    text-align: center;
    border: none;

}
.search-field{

    width: 300px;
    height: 44px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: #9497b4;
    border: 1px solid #9497b4;
    padding: 10px;
    margin: 10px 0;

}
.error-404 {

    margin: 0 0 100px;

}
.pagination{
  text-align: center;
}
.page-numbers{
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #7e7e87;
  display: inline-block;
  border: 1px solid #7e7e87;
  padding: 12px;
  vertical-align: top;
  margin: 0 10px;
  text-decoration: none;
}
.page-numbers.current,.page-numbers:hover{
  border: 1px solid #0dbdca;
  color: #0dbdca;
}
.next.page-numbers,.prev.page-numbers {
    text-transform: capitalize;
    width: 131px;

}
a.back{

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7a858e;
}
.img-user-single {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    background-position: ;

}
.img-user-single img {

    width: 48px;
    height: 48px;

}
.singleuser span {
      font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
    display: inline-block;
    vertical-align: middle;

}
.singleuser .clr {
  margin: 0 10px;
  color: #0dbdca;
  text-transform: capitalize;
}
.entry-title {

    margin: 20px 0;

}

.comments-title {

    display: none;

}
.single-content img {

    max-width: 100%;

}
.navbar.navbar-default.mobmenu{
    display: none;
  }

#comment {

    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
    resize:none;
    padding: 30px;

}
.comment-list li {

    padding: 20px 10px;
    margin-bottom: 0;
    background: #fafbfd;
    list-style-type: none;
    margin-bottom: 10px;
}

.comment-list {
  float: left;
    padding: 0;
    margin: 0;
    width: 100%;

}
.comments-box {

    margin: 100px 0 50px;

}
#reply-title {
    display: none;

}

.comment-form  label {

  margin: 20px 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #061b39;
  width: 100%;

}
.comment-meta {

    width: 100%;
    float: left;

}
.comment-meta div a{
  color: #333;
  font-style: italic;
  font-size: 12px;
}
.comment-meta div {
    float: left;
    padding: 0 20px;
}
.comment-meta .comment-metadata {

    padding-top: 10px;

}
.comment-content {

  float: left;
  width: 100%;
  padding: 20px;


}
.comment-form input[type="text"],
.comment-form input[type="email"]{
  height: 44px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdd0d6;
  padding: 10px;
   font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #9497b4;
  width: 100%;
}
.comment-form textarea {
 border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdd0d6;
  padding: 10px;
   font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #9497b4;
  width: 100%;
  height: 180px;
}
.comment-form  .comment-form-author,.comment-form  .comment-form-email {
    width: 45%;
    float: left;
}
.comment-form  .comment-form-email {
  float: right;
}
.comment-form .form-submit {

    float: left;
    width: 100%;
    margin: 30px 0;
    position: absolute;
    width: 100%;
    bottom: 0;

}
.comment-form-url {
    display: none;
}
.single-content .comment-content p{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: #061b39;
}
.reply {

    padding: 0 20px;
    text-align: left;

}
.reply a{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: right;
  color: #061b39;
}
.comment-count span{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #0dbdca;
}
.cmnt-no{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #0dbdca;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  padding: 4px;
  vertical-align: middle;
}
.comment-form  .comment-form-comment {
    position: absolute;
    width: 100%;
    bottom: 70px;
}
.comment-author.vcard {
    border-radius: 100%;
    overflow: hidden;
    width: 48px;
    padding: 0;
    height: 48px;
}
.comment-author.vcard img{
  width: 48px;
    padding: 0;
    height: 48px;
}
div#respond {
    width: 100%;
    position: relative;
    min-height: 500px;
    margin-bottom: 100px;
}
.comment-notes{
  display: none;
}
.comment-list form{
  padding: 20px;
}
.comment-list form .comment-form-comment {width: 94%;}
.desk{
  display: block;
}
.mob{
  display: none;
}
.post-looping.press,.post-looping.careers {

    padding-top: 0;

}

/*========================================wpmp RegisterForm ================================================*/

.wpmpRegisterForm {
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 2px 3px 0 rgba(81, 81, 106, 0.07);
  background-color: #ffffff;
  border: 1px solid #e6e6ed;
  margin-top: 50px;
}

.wpmpRegisterForm .form-control{
  height: 44px;
  border-radius: 6px;
}
 .wpmpRegisterSection h1 {
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
  font-family: 'Montserrat';
}
.wpmpRegisterForm h3 {
 font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #101969;
  margin:30px 0;
}
.wpmpRegisterForm label {
  font-family: 'Montserrat';
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #101969;
}
.wpmpRegisterSection p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #061b39;
  font-family: 'Montserrat';
}
.wpmpRegisterSection .mx-auto{
  float: none;
  margin: 0 auto !important;
}
.wpmpRegisterForm .btn.btn-primary {
  min-width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: #0090fe;
   font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.has-feedback label ~ .form-control-feedback {

    top: 40px !important;

}
.alreadyacount {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #101969;
  margin: 30px 0 0;
}

.alreadyacount a{
  color: #0091ff;
}
/*======================================== media quries ================================================*/

@media(min-width: 1600px){
  .header-custom{
    background-size: 44%;
  }
  .rectangle-right{
    background-size: cover;
    width: 45%;
    height: 1300px;
  }
}



@media(min-width: 560px){
  .col-inline{
    padding-left: 7.8%;
    padding-right: 7.8%;
    padding-top: 12%;
    width: 50%;
  }
  .col-inline.bg-img {
    float: right;
    width:47%;
    background-size: 50%;
  }

}


@media(max-width: 992px){
    .navbar-header {
      margin-right: 0;
  }
  .user{right: 0;display: none;}
  img{
      max-width: 100%;
  }

.hed-left .gamibot{
    font-size: 40px;
  }
    .hed-left ,.hed-right{
        margin: 0;
        float: none;
        text-align: center;

    }

   .hed-right img {

    max-width: 100%;
    margin: 0 auto !important;
    float: none;

}
.left-gimg img, .right-gimg img{
   margin: 0 auto !important;
    float: none;
}
.hed-right.col-md-5.pull-right {
    float: left !important;
    width: 100%;
}
.journey .col-md-3 {

    text-align: center;

}
.journey .col-md-3 img {

    margin: 30px 0;

}
.copyrigh{
  text-align: center;
  margin-bottom: 50px;
  font-size: 12px;
}

    .header-custom {

        background: #fff;

    }
.promotions{margin-top: 100px;}
.subs input{
        box-shadow: 0px 3px 6px 0 rgba(81, 81, 106, 0.9);
    }
.plans-gami-inner{
  margin-bottom: 20px;
}
.plan-range {

    height: auto;
}
 .plan-range .ui-slider-horizontal{
    margin-bottom: 40px;
  }
.pagination {
    padding: 15px;

}
.desk{
  display: none;
}
.mob{
  display: block;
}
.sub-header.pricing {

    padding: 0;
        padding-top: 0px;
    padding-top: 380px;

}
.mankite{
  height: 80%;
  z-index: -1;
}
.man-image{
  display: none;
}
body ul.cnss-social-icon li.cn-fa-icon a {

    background-color: transparent !important;

}
.post-art p{
  height: auto;
}




}



@media(max-width: 767px){
.single-side{
  margin-top: 100px;
}
.comment-form .comment-form-author, .comment-form .comment-form-email {

    width: 100%;
    float: left;

}
.plans-gami-inner{
  height: auto !important;
}
.gamiin{
  padding: 20px;
  padding-top: 130px;
  margin-bottom: 50px;
}
.overdp {

    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 1;
    width: 200px;
    height: 177px;
    background-size: contain;
    background-repeat: no-repeat;

}
.gamiover h3 {

    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 150px;
    width: auto;

}
div#respond{
  min-height: 620px;
}
  .navbar-default .navbar-nav > li.current_page_item > a::after {
    content: none;
  }
  .navbar.navbar-default{
    display: none;
  }
  .navbar.navbar-default.mobmenu{
    display: block;
  }
  .navbar-default .navbar-nav > li > a {

    color: #061b39;
    position: relative;
    font-weight: 600;
    padding: 20px 10px;

}
.navbar-nav {
    padding-top: 20px;

}
.navbar-default .navbar-nav > li > a img {

    margin-right: 20px;

}
.user {width: 100%;position:relative;padding: 10px 15px;}
.userpic{
    float: right;
    margin: 0;
    margin-top: -4px;
  }
.btn-wrap .btn{
    margin: 10px 0;
  }
  .btn-wrap .btn:first-of-type {
    margin-right: 10px;
  }
  .leading .list-inline > li {

    padding: 20px;

  }
  .your-brand-to,.Play-Video{
    float: left;
    width: 100%;
  }
  .promotions-right a{
    display: block;
  }
  .Oval{
    float: none;margin: 0 auto;
  }
  .gamiin.Mask {

      padding: 20px;
          padding-top: 20px;
      padding-top: 130px;

  }
  .rectangle-right{
    width: 100%;
    height: 630px;
    background-position: inherit;
    background-size: cover;
    background-image: url(../images/triangle-right-angledmb.svg);
  }
  .page-template-about-us .hed-right img {
    width: 100%;
      margin: 50px 0 0 !important;

  }
  .cta-form{
    padding: 20px;
  }
  .cta-form .label{
    padding: 15px;
  }
  .subs .h5 ,.copyrigh{

      color: #061b39;

  }
  .gamibot,.gami-repeat,.gami-repeat.rightbg{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
    background: none;
  }
  .right-content .col-md-6 {
    min-height: 110px;
}
.icon-mini ul li img {

    width: 70px;

}
.motivate_consumers{
  background: #fff;
}
body a.btn{
  height: auto;
}
.sub-header {

    padding: 0 0 300px;
    background-size: auto;
    background-position: bottom left;

}
.usermb {

    float: left;
    width: 100%;
    padding: 100px 0 20px;

}
.usermb .userpic {

    float: none;}

.btn.mbbtn {

    padding: 12px;
    height: 48px;
    font-weight: 600;
    box-shadow: 0px 3px 6px 0 rgba(81, 81, 106, 0.09);
    background-color: #0091ff;
    text-align: center;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;

}

.acount {

    display: block;
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    color: #0dbdca;
    font-weight: bold;

}
.blog-head {

    background-size: 100%;
    padding-top: 240px;

}
.col-md-8.contentblog.col-xs-6 {

    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;

}
.blog-side{
  margin-bottom: 50px;
}
.subscribe-form input[type="submit"], input#submit[type="submit"] {

    width: 100%;
    margin: 10px 0;

}






}



@media(max-width: 560px){

html,body {
    overflow: hidden;
    overflow-y: visible !important;
}
.hellogamibot {
    padding-bottom: 70px;
}
.takeactions{
  height: auto;
}
.col-inline, .col-inline.bg-img {

    width: 100%;
    height: 400px;
    -o-background-position:0 0;
    -moz-background-position:0 0;
    -webkit-background-position:0 0;
    background-position:0 0;
    -o-background-size:  100% 400px;
    -moz-background-size:  100% 400px;
    -webkit-background-size: 100% 400px;
    background-size:  100% 400px;
    background-attachment: scroll;
    -webkit-background-attachment: scroll;

}
.col-inline .learn-more {

    margin-top: 30px;
    margin-bottom: 30px;

}

}
